/****** CUSTOM STYLE VARIABLES ******/
$page-background-color: rgba(235, 235, 235, 0.3) !default;

$loader-background-color: rgba(150, 150, 150, 0.7) !default;
$loader-line-color: #000000 !default;

$button-small-font-size: 0.8rem !default;
$button-small-icon-font-size: 0.9rem !default;
$button-small-height: $button-height * 0.5 !default;